@model Centroid.Models.About
<section class="section secPadding">
    <div class="container">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>About</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AboutUs)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AboutUs)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vision)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vision)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mission)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mission)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CoreBusiness)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CoreBusiness)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Experience)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Experience)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Expertise)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Expertise)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>