@model Centroid.Models.About

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreBusiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreBusiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
