@model Centroid.Models.PersonalInfo
<div>
    <h4>PersonalInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().EducationalInstitution)</th>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().Country)</th>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().EducationLevel)</th>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().Discipline)</th>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.Educations.FirstOrDefault().Highest)</th>
    </tr>
    <tr>
        @foreach (var item in Model.Educations)
        {
            <td>@item.EducationalInstitution</td>
            <td>@item.Country</td>
            <td>@item.EducationLevel</td>
            <td>@item.Discipline</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.Highest</td>
        }
    </tr>
</table>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().Employer)</th>
        <th>@Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().JobTitle)</th>
        <th>@Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.WorkExperiences.FirstOrDefault().EndDate)</th>
    </tr>
    <tr>
        @foreach (var item in Model.WorkExperiences)
        {
            <td>@item.Employer</td>
            <td>@item.JobTitle</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
        }
    </tr>
</table>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Documents.FirstOrDefault().Name)</th>
        <th>@Html.DisplayNameFor(model => model.Documents.FirstOrDefault().DocType)</th>
        <th>@Html.DisplayNameFor(model => model.Documents.FirstOrDefault().Document)</th>
    </tr>
    <tr>
        @foreach (var item in Model.Documents)
        {
            <td>@item.Name</td>
            <td>@item.DocType</td>
            <td><a href="@Url.Content(item.Document)">Download/Preview</a></td>
        }
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
