@model Centroid.Models.QHSE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QHSE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QhsePolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QhsePolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QhsePolicyAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QhsePolicyAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QhseIMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QhseIMS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
