@model Centroid.Models.JobApplication
    <section class="section secPadding clearfix" data-animation-effect="fadeIn">
        <div class="container">
            <h4>JobApplication</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Job.JobTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Job.JobTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Profile.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profile.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplyDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplyDate)
                </dd>

            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </section>
