@model IEnumerable<Centroid.Models.Home>
<!-- banner start -->
<div id="banner" class="banner">
    <div class="banner-overlay"></div>
    <div class="slider-banner">
        @foreach (var item in Model)
        {
            <div style="width:1900px; height:750px" data-lazy-background="@Url.Content(item.Image)">
                <div class="banner-caption">
                    <h3>@Html.Raw(Server.HtmlDecode(item.Name))</h3>
                    <p>@Html.Raw(Server.HtmlDecode(item.Description))</p>
                </div>
            </div>
        }
    </div>


</div>
<!-- banner end -->
<section class="hero-caption secPadding">

    <div class="container">

        <div class="row " style="margin-top: 0px;">
            <div class="col-sm-9 home">
                @Html.Raw(Server.HtmlDecode(ViewBag.AboutUs.Substring(ViewBag.AboutUs.IndexOf("<p"))))
            </div>
            @*<div class="col-sm-3 vision circle">
                <div class="">
                    @Html.Raw(Server.HtmlDecode(ViewBag.Vision.Substring(ViewBag.Vision.IndexOf("<p"))))
                </div>
            </div>*@
        <div class="col-sm-3 vision home">
            <img src="~/Content/images/About/vision2.jpg"/>
            @Html.Raw(Server.HtmlDecode(ViewBag.Vision.Substring(ViewBag.Vision.IndexOf("<p"))))
        </div>
        </div>

    </div>

</section>
