@model Centroid.Models.About

<!-- section start -->
<section class="section clearfix secPadding" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <h2><strong>Centroid at Glance</strong></h2>
                        @Html.Raw(Server.HtmlDecode(Model.AboutUs))
                    </div>
                </div>
                <div class="container">
            <div class="row flex about">
                <div class="col-md-4 about vision">
                    <h2>Our VISION</h2>
                    <div class="vision-text">
                        @Html.Raw(Server.HtmlDecode(Model.Vision.Substring(Model.Vision.IndexOf("<p"))))
                    </div>
                </div>
                <div class="col-md-4 about mission">
                    <h2>Our MISSION</h2>
                    <div class="vision-text">
                        @Html.Raw(Server.HtmlDecode(Model.Mission.Substring(Model.Mission.IndexOf("<p"))))
                    </div>
                </div>
                <div class="col-md-4 about values">
                    <h2>Our VALUES</h2>
                    <div class="vision-text">
                        @Html.Raw(Server.HtmlDecode(Model.Values.Substring(Model.Values.IndexOf("<u"))))
                    </div>
                </div>
            </div>
        </div>
                <!-- section start -->
                <section class="default-bg rad-10">
                    <div class="container about">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <img class="img-circle" src="~/Content/images/About/CoreBusiness.jpg" style="width: 155px;height:155px;">
                            </div>
                            <div class="col-sm-9 corbusiness">
                                @Html.Raw(Server.HtmlDecode(Model.CoreBusiness))
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section end -->
                <div class="row">
                    <div class="col-md-6">
                        <h2>Our Experience</h2>
                        @{
                            var experience = Model.Experience.Substring(Model.Experience.IndexOf("<li"));
                            experience = experience.Replace(";", "").Replace("</li>\r\n<li>", ";").Replace("<li>", "").Replace("</li>\r\n</ul>", "");
                            var experienceList = experience.Split(';');
                        }
                        <ul class="list-unstyled">
                            @foreach (var item in experienceList)
                            {
                                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i>@item</li>
                            }
                        </ul>
                        @*@Html.Raw(Server.HtmlDecode(Model.Experience))*@
                    </div>
                    <div class="col-md-6">
                        <h2>Our Expertise</h2>
                        @{
                            var expertise = Model.Expertise.Substring(Model.Expertise.IndexOf("<li"));
                            expertise = expertise.Replace(";", "").Replace("</li>\r\n<li>", ";").Replace("<li>", "").Replace("</li>\r\n</ul>", "");
                            var expertiseList = expertise.Split(';');
                        }
                        <ul class="list-unstyled">
                            @foreach (var item in expertiseList)
                            {
                                <li><i class="fa fa-arrow-circle-right pr-10 colored"></i>@item</li>
                            }
                        </ul>
                        @*@Html.Raw(Server.HtmlDecode(Model.Expertise))*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
